{% extends 'base.html' %}
{% load widget_tweaks %}

   	<html>
	   	<head>



 		{% block head %}
		   		<title>Sign In</title>
 		   		{% endblock %}





	</head>


	<body>

				{% block body %}

<div class = "container">

		<h1 class = "font-weight-bold" style = "font-family: Optima; text-align: center;  margin-top: 80px; padding: 30px; "> <small>Access your Health Condition when you need it.</small> </h1>


				<form method="post" >

					{% csrf_token %}

					{{ form }}

					<button class=" btn btn-primary btn-large " type="submit">Sign In</button>

				</form>

        <li class="nav-item"><a class = "nav-link"href = "{% url 'Identities:reset_password' %}" style="background-color:black; width:300px;"><small>Create new password</small></a></li>


			</div>

 		   		{% endblock %}
	</body>

</html>
