{% extends 'base.html' %}


<html>

    <head>

       {% block head %}
           <title>Identity</title>
      {% endblock %}

	</head>

	<body>





{% block body %}

	<style>

		div {
		font-family: Optima, Heiti SC;
		}

    .col-lg-2{
        /*background-color: #f8f8f8f8;*/
    }

		</style>




<div class = "container " style = "margin-top : 100px;">

  <div class = "row justify-content-md-center">

    <div class = "col col-lg-2">
    <li class = "nav-item " style = "font-family: Droid Sans Mono; "><a class = "nav-link" href = "{% url 'Identities:edit_profile' %}">edit Identity </a></li>
    </div>

    <div class = "col-12 col-md-auto">

      <div class = "card">

              <ul class = "list-group list-group-flush">
                <li class = "list-group-item">Nomenclature : {{ user.first_name  }} {{ user.last_name }}</li>
                <li class = "list-group-item">Email Address : {{ user.email }}</li>
              </ul>
      </div>

    </div>

    <div class = "col col-lg-2">
     <!-- 3 of 3 -->
   </div>


</div>



{% endblock %}

	</body>

</html>
