{% extends 'base.html' %}
{% load widget_tweaks %}


<html>

    <head>

       {% block head %}

    <title>Nesting</title>

    {% endblock %}

	</head>

	<body>

    {% block body %}

    <style media="screen">
      #navigation{

      margin-top: 90px;

      }

      .col-md-5{
                  margin-top: 70px;

      }

.container {

}

    </style>

    <div class = "container">

            <div class = "row">
                                <nav class="col-md-3"  id = "navigation">

                                  <ul class = "nav flex-column">
                                                    <li class = "nav-item"> <a class = "nav-link" style = "font-family: Droid Sans Mono" href = "{% url 'nesting:nesting'%}">Create patient </a></li>
                                                   <li class = "nav-item"><a class = "nav-link" href = "#" style = "font-family: Droid Sans Mono">See  patient </a></li>
                                    </ul>

                                </nav>

            <main class = "col-md-5">

                      <form method = 'post' novalidate>

                   {% csrf_token %}
                   <div class = "form-row">

                     <div class = "form-group col-sm-6">
                                   {{ form.NIS.errors }}
                                   {{ form.NIS}}
                     </div>

                   <div class = "form-group col-sm-6">

                   </div>

                   </div>

        <div class = "form-row">

          <div class = "form-group col-sm-6">
                        {{ form.First_Name.errors }}
                        {{ form.First_Name}}
          </div>

        <div class = "form-group col-sm-6">
                      {{ form.Last_Name.errors }}
                      {{ form.Last_Name}}
        </div>

        </div>


        <div class = "form-group">
          {{ form.Residence.errors }}
          {{ form.Residence }}
        </div>

    
<button class = "btn-primary btn-large btn ">Submit</button>

 </form>

</div>
</main>
            </div>





            {% for Identity in Identities %}

            <div class = "row">

              <div class="col-sm" ></div>

              <div class = "col-sm" >

                <div class = "card " style = "margin-top: 40px;">

                        <ul class = "list-group list-group-flush">

                          <li class = "list-group-item"><a class = "nav-link" href="#">{{Identity.First_Name}}  {{Identity.Last_Name}} </a></li>

                          <li class = "list-group-item"><small><br>NIS: </small> {{ Identity.NIS }}</li>

                        </ul>
                </div>

              </div>

            <div class="col-sm"></div>

            </div>
                      {% endfor %}


    {% endblock %}

  </body>

  </html>
