{% extends 'base.html' %}


<html>

    <head>

       {% block head %}

    <title>nesting</title>

    {% endblock %}

	</head>

	<body>

    {% block body %}

    <div class = "container"  style = "margin: 80px;">

      <div class = "row">

        <div class = "col">


              <form method = 'post'>

              {% csrf_token %}

              <p>Create Patient</p>

                 {{ form.as_p }}


              <button class = "btn-primary btn-large btn ">Submit</button>


              	</form>


        </div>

        <div class = "col">
  {% for Identity in Identities %}


      <div class = "card" style = "margin: 40px;">



          <div class = "card-header">

    <!-- <p class="font-weight-bold"> {{Identity.First_Name}}  {{Identity.Last_Name}} </p> -->
          </div>

        <div class = "card-body">



            <div class = "card-title">
             <p class = "font-weight-light" style = "font-family: Optima">National Insurance Scheme : {{ Identity.NIS }}</p>
            </div>



             <p><small class = "card-text">Created On : {{ Identity.Timestamp }}</small></p>

                <!--<p><small class = "card-text">{{ Identity.Address}}</small></p> -->

      </div>


  </div>
      {% endfor %}
</div>

  </div>

    {% endblock %}

  </body>

  </html>
